.option-box {
  padding: 0 3%;
}
.hslxftc2 label {
  display: block;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  position: relative;
  height: 3rem;
  line-height: 3rem;
  margin-right: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding: 0 .5rem;
  float: left;
}
.hslxftc2 label input {
  opacity: 0;
  position: absolute;
}
.hslxftc1 img {
  width: 100%;
}
.hslxftc0 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  display: none;
}
.hslxftc2 {
  width: 86%;
  background-color: #fff;
  position: fixed;
  left: 7%;
  z-index: 999999;
  bottom: 1%;
  display: none;
  max-width: 640px;
  overflow: hidden;
  border-radius: 1rem;
}
.hslxftc3 {
  padding: 1rem 0 1rem 1rem;
}
.hslxftc2 p {
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #333;
  font-weight: bold;
}
.hslxftcbox5 input {
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
}
.hslxftcimgclose {
  position: absolute;
  width: 2.6rem;
  line-height: 2.6rem;
  height: 2.6rem;
  right: 0.5rem;
  top: 0.5rem;
  border: 1px solid #333;
  border-radius: 3rem;
  text-align: center;
}
.hslxftcr {
  position: fixed;
  right: 2%;
  top: 48%;
  z-index: 106;
  width: 4rem;
  height: 4rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background: #00aef1;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 1px #727272;
  animation-iteration-count: infinite;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.hslwxicon i {
  font-size: 4rem;
  color: #fff;
}
.hslwxicon span {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #ea4e3d;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 2rem;
  right: -3px;
  top: -3px;
}
.popout_tcc > .popout_top p:nth-child(2) {
  font-size: 1.4rem;
}
.popout_tcc > .popout_top:nth-child(1) span {
  font-size: 1.6rem;
  color: #ff0000;
  font-family: ZCOOLAddictItalic01;
}
.popout_xzzy_s1 {
  overflow: hidden;
  padding-bottom: 0.5rem;
}
.popout_xzzy_s1 li {
  width: 25%;
  line-height: 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  float: left;
  margin-right: 0.5rem;
  border: 0.1rem solid #ff6309;
  border-radius: 0.5rem;
}
.xxzy_lis1 {
  color: #fff;
  background-color: #ff6309;
}
.xxzy_lis2 {
  color: #fff;
  background-color: #ff6309;
}
.xxzy_lis3 {
  color: #fff;
  background-color: #ff6309;
}
.popout_xzzy_s2 {
  overflow: hidden;
  padding-bottom: 0.5rem;
}
.popout_xzzy_s2 li {
  width: 30%;
  line-height: 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  float: left;
  margin-right: 0.5rem;
  border: 0.1rem solid #ff6309;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.popout_xzzy_s3 {
  overflow: hidden;
  padding-bottom: 0.5rem;
}
.popout_xzzy_s3 li {
  width: 30%;
  line-height: 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  float: left;
  margin-right: 0.5rem;
  border: 0.1rem solid #ff6309;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.x-popup-layer-submit {
  display: block;
  padding-bottom: 0.8rem;
}
.x-popup-layer-submit input {
  font-size: 1.3rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #000;
}
.text-input {
  text-align: left;
  color: #ff0e00;
  font-weight: 800;
  padding: 0.8rem 0 0.6rem 0;
}
.text-input01 {
  width: 100%;
  padding-left: 1rem;
  outline: none;
  border: 0.2rem solid #cecece;
  line-height: 3.5rem;
  font-size: 1.3rem;
}
.text-tip {
  text-align: left;
  font-weight: 800;
  padding: 0.8rem 0 0.6rem 0;
}
.pop-btn {
  width: 93%;
  line-height: 3rem;
  color: #fff;
  background-color: #ff4200;
  border-radius: 0.8rem;
}
